a.major-link {
	font-size: 1.8em;
}

a.major-link img {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
	margin-left: 0;
	-webkit-transition: margin-left 0.2s ease;
	-moz-tranisiton: margin-left 0.2s ease;
	transition: margin-left 0.2s ease;
}

a.major-link:hover img {
	margin-left: 0.25em;
	margin-right: -0.25em;
}